@font-face {
    font-family: "Orbitron";
    src: url(../assets/fonts/Orbitron-Regular.ttf) format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Orbitron";
    src: url(../assets/fonts/Orbitron-Medium.ttf) format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Orbitron";
    src: url(../assets/fonts/Orbitron-SemiBold.ttf) format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Orbitron";
    src: url(../assets/fonts/Orbitron-Bold.ttf) format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Orbitron";
    src: url(../assets/fonts/Orbitron-ExtraBold.ttf) format("ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Orbitron";
    src: url(../assets/fonts/Orbitron-Black.ttf) format("ttf");
    font-weight: 900;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../assets/images/back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

body {
    --red: #eb4d4d;
    --text-color-active: #212F3D;
    font-family: "Orbitron", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container,
.settings-content {
    position: relative;
    width: 1000px;
    height: 600px;
    display: flex;
    color: var(--text-color-active);
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.player {
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.active {
    background-color: #EAECEE;
    opacity: 1;
}

.winner {
    background-color: var(--red);
    color: #fff;
}

.winner .totalscore {
    color: #fff;
}

/* -----------------------------MENU----------------------------- */

.menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20%;
    height: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-game {
    position: absolute;
    display: flex;
    align-items: center;
    top: 80px;
    cursor: pointer;
    z-index: 10;
} 

.new-game:hover span {
    font-weight: 600;
    transform: translateX(5px);
    color: var(--red);
}

.new-game:hover i {
    transform: translateX(5px);
    color: var(--red);
}

.winner ~ .menu .new-game:hover span,
.winner ~ .menu .new-game:hover i {
    color: #212F3D;
}

.new-game span {
    text-transform: uppercase;
    transition: all 0.3s;
    z-index: 10;
}

.new-game i {
    margin-right: 10px;
    font-size: 30px;
    transition: all 0.3s;
}


.roll-dice {
    display: none;
    position: absolute;
    align-items: center;
    bottom: 165px;
    cursor: pointer;
}

.roll-dice span {
    text-transform: uppercase;
    transition: all 0.3s;
}

.roll-dice i {
    margin-right: 10px;
    font-size: 30px;
    transition: all 0.3s;
}

.roll-dice:hover span {
    font-weight: 600;
    transform: translateX(5px);
    color: var(--red);
}

.roll-dice:hover i {
    transform: translateX(-5px) rotate(180deg);
    color: var(--red);
}

.hold {
    display: none;
    position: absolute;
    align-items: center;
    bottom: 115px;
    cursor: pointer;
}

.hold span {
    text-transform: uppercase;
    transition: all 0.3s;
}

.hold i {
    margin-right: 10px;
    font-size: 30px;
    transition: all 0.3s;
}

.hold:hover span {
    font-weight: 600;
    transform: translateY(5px);
    color: var(--red);
}

.hold:hover i {
    transform: translateY(5px);
    color: var(--red);
}

/* -----------------------------CUBE----------------------------- */

.cube-container {
    display: none;
    width: 140px;
    height: 140px;
    position: absolute;
    top: 190px;
    perspective: 1000px;
}
.cube-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 100px 0px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 4s;
}

#cube div {
    position: absolute;
    width: 140px;
    height: 140px;
}

#cube img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#cube .front {
    transform: translateZ(70px);
}

#cube .back {
    transform: rotateX(-180deg) translateZ(70px);
}

#cube .right {
    transform: rotateY(90deg) translateZ(70px);
}

#cube .left {
    transform: rotateY(-90deg) translateZ(70px);
}

#cube .top {
    transform: rotateX(90deg) translateZ(70px);
}

#cube .bottom {
    transform: rotateX(-90deg) translateZ(70px);
}

/* -----------------------------PLAYERS----------------------------- */

.playerscore {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.9s ease-in;
}

.player-name {
    font-weight: 600;
    font-size: 35px;
    margin-top: 20px;
}

.totalscore {
    font-size: 64px;
    color: var(--red);
    margin-top: 40px;
}

.currentscore {
    width: 50%;
    padding: 15px;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.text {
    font-size: 25px;
    font-style: italic;
}

.score {
    font-size: 30px;
    font-style: italic;
    color: #fff;
}

/* -----------------------------SETTINGS----------------------------- */

.settings-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    visibility: hidden;
}

.settings-container.visible {
    visibility: visible;
}

.settings-content {
    position: absolute;
    top: -100%;
    width: 30%;
    padding: 30px;
    transition: all 1s;
}

.settings-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-content input {
    height: 30px;
    font-family: "Orbitron", sans-serif;
    border-radius: 5px;
    border: none;
}

.settings-content input[type="text"] {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #d3d3d3;
}

.settings-content input[type="submit"] {
    width: 50%;
    align-self: center;
    font-weight: 700;
    background-color: #fff;
    color: var(--red);
    border: 1px solid var(--red);
    cursor: pointer;
    transition: all 0.3s;
}

.settings-content label {
    font-weight: 700;
    margin-bottom: 5px;
    color:#212F3D;
}

.settings-content input[type="button"]:hover {
    background-color: var(--red);
    color: #fff;
}

.settings-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    z-index: 20;
}

.settings-button:hover i {
    transform: rotate(180deg);
    color: var(--red);
}

.settings-button i {
    transition: all 0.3s;
    font-size: 24px;
}

audio {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
}